mixin image(rootclass, mods)
  -
    const element = 'image';
    const modList = mods ? mods.split(' ') : [];
    const allMods = modList.map(mod => `${element}--${mod}`);


  div.image(class= [rootclass, ...allMods])
    img.image__picture(src= src, alt= alt)&attributes(attributes)
