mixin modal(id)
  .modal.micromodal-slide#modal-1(aria-hidden="true")
    .modal__overlay(tabindex="-1" data-micromodal-close)
      .modal__container(role="dialog" aria-modal="true" aria-labelledby=`${id}-title`)
        main.modal__content(id=`${id}-content`)
          +contact()
            block title
              span(id=`${id}-title`)
                | Contact Us
        button.modal__close(aria-label="Close modal" data-micromodal-close)
          span.modal__cross(data-micromodal-close)
