.modal {
  $this: &;

  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  z-index: $zindex-highest;
  visibility: hidden;

  &.is-open {
    visibility: visible;

    #{$this}__overlay {
      opacity: 1;
    }

    #{$this}__container {
      transform: translateY(0);
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($black, $opacity-high);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    transition: opacity $transition-time-fast;
  }

  &__container {
    position: relative;
    background-color: $white;
    padding: 3rem $gutter;

    transform: translateY(-15%);
    transition: transform $transition-time-fast;
  }

  &__call {
    display: none;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    padding: 1rem $gutter;
    background-color: transparent;
    font-size: 1.5rem;

    &:hover,
    &:focus {
      outline: 0;

      #{$this}__cross {
        transform: scale(1.25);
      }
    }
  }

  &__cross {
    position: relative;
    display: block;
    width: 1em;
    height: 1em;
    transition: transform $transition-time-fast;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 2px;
      background-color: $color-primary;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}

@media (min-width: $screen-tablet) {
  .modal {

    &__overlay {
      align-items: center;
    }

    &__container {
      max-width: 60rem;
      width: 100%;
      padding: 5rem $gutter;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__call {
      display: block;
      margin-bottom: 0.5rem;
    }

    &__close {
      top: 0.75rem;
      right: 1rem;
    }
  }
}

@media (min-width: $screen-desktop) {
  .modal {

    &__call {
      display: none;
    }
  }
}
