//- Все примеси в этом файле должны начинаться c имени блока (main-nav)
//- Структура меню — в main-nav.data.pug

mixin main-nav()

  //- Принимает:
  //- Вызов:
        +main-nav('about')

  //- подключаем файл со структурой данных блока
  include main-nav.data.pug

  nav.main-nav&attributes(attributes)
    //- +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')
    ul.main-nav__list
      each menuItem in mainMenu
        +main-nav-item(menuItem)
    +button('Contact Us').main-nav__call

mixin main-nav-item(item)
  -
    const itemClass = 'main-nav__item';
    const activeClass = (page === item.name) ? `${itemClass}--active` : ''

  li(class= `${itemClass} ${activeClass}`)
    a.main-nav__link(href=item.url)= item.text
      block
