-
  var mainMenu = [
    {
      "text": "Services",
      "name": "services",
      "url": "/services.html",
    },
    {
      "text": "About Us",
      "name": "about",
      "url": "/about.html",
    },
    {
      "text": "Our portfolio",
      "name": "portfolio",
      "url": "/portfolio.html",
    },
  ];
