//- Все примеси в этом файле должны начинаться c имени блока (main-nav)
//- Структура меню — в main-nav.data.pug


mixin main-nav()
  nav.main-nav.js-menu&attributes(attributes)
    +burger('overlay').main-nav__toggle.js-menu__toggle
    .main-nav__wrapper.js-menu__wrapper
      ul.main-nav__list
        each menuItem, name in pages
          if menuItem.inMenu
            +main-nav-item(menuItem, name)
      +call().main-nav__call
      +button('Contact Us').main-nav__contact.js-menu__close(data-micromodal-trigger="modal-1")

mixin main-nav-item(item, name)
  -
    const itemClass = 'main-nav__item';
    const activeClass = (page === name) ? `${itemClass}--active` : ''

  li(class= `${itemClass} ${activeClass}`)
    a.main-nav__link(href=item.url)= item.text
      block
