.main-nav {
  $block-name:                &; // #{$block-name}__element

  $link-padding: 1.5em;
  $link-color: $black;
  $link-color-active: $color-primary;


  &__wrapper {
    position: absolute;
    z-index: $zindex-high;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: $white;
    transition: transform $transition-time-fast;
    text-align: center;
    transform-origin: top;
    transform: scaleY(0);
    // visibility: hidden;
    
    &--open {
      transform: scaleY(1);
      // visibility: visible;
    }
  }
  

  &__list {
    @include list();
  }

  &__item {
    color: $link-color;
    font-size: 1rem;
    
    &--active {
      color:  $link-color-active;
    }
  }
 
  &__link {
    display: block;
    padding: 0.75em $link-padding;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
      outline: 0;
    }
  }

  &__call {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__contact {
    display: block;
    width: calc(100% - #{$gutter * 2});
    margin: 0 auto;
    margin-bottom: $gutter-big;
  }
}

@media (min-width: $screen-tablet) {
  .main-nav {

    &__toggle {
      display: none;
    }

    &__wrapper {
      position: static;
      transform: none;
      transition: none;

      display: flex;
      align-items: center;
    }

    &__list {
      display: flex;
      align-items:  center;
    }


    &__link {
      $horizontal-padding: 1em;

      padding-left: $horizontal-padding;
      padding-right: $horizontal-padding;
    }

    &__call {
      display: none;
    }

    &__contact {
      $horizontal-padding: 3.75rem;

      width: auto;
      margin-left: 1em;
      margin-bottom: 0;
      padding-left: $horizontal-padding;
      padding-right: $horizontal-padding;
      font-size: 0.875rem;
    }
  }
}
