-
  var mainMenu = [
    {
      "text": "Services",
      "name": "services",
      "url": "/services",
    },
    {
      "text": "About Us",
      "name": "about",
      "url": "/about",
    },
    {
      "text": "Our portfolio",
      "name": "portfolio",
      "url": "/portfolio",
    },
  ];
