// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  $block-name:                &; // #{$block-name}__element

  $link-padding: 1.5em;
  $link-color: $black;
  $link-color-active: $color-primary;

  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    color: $link-color;
    font-size: 1rem;
    
    &--active {
      position: relative;
      color:  $link-color-active;
      
      &::after {
        content: "";
        position: absolute;
        left: $link-padding;
        right: $link-padding;
        height: 2px;
        background-color: currentColor;
      }
    }
  }
 
  &__link {
    display: block;
    padding: 0.75em $link-padding;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
      outline: 0;
    }
  }

  // call to action
  &__call {
    margin-left: 1.5em;
  }
}
