.main-nav {
  $block-name:                &; // #{$block-name}__element

  $link-padding: 1.5em;
  $link-color: $black;
  $link-color-active: $color-primary;

  &__wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: $white;
    transition: max-height $transition-time-fast;

    &:not(.main-nav__wrapper--open) {
      max-height: 0 !important;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    color: $link-color;
    font-size: 1rem;
    
    &--active {
      color:  $link-color-active;
    }
  }
 
  &__link {
    display: block;
    padding: 0.75em $link-padding;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
      outline: 0;
    }
  }

  &__call {
    
  }

  &__contact {

  }
}
