//- Все примеси в этом файле должны начинаться c имени блока (main-nav)
//- Структура меню — в main-nav.data.pug

mixin main-nav(activeItem)

  //- Принимает:
  //-   activeItem {string} - name пункта меню (по умолчанию — из main-nav.data.pug)
  //- Вызов:
        +main-nav('about')

  //- подключаем файл со структурой данных блока
  include main-nav.data.pug

  nav.main-nav
    //- +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')
    ul.main-nav__list
      each menuItem in mainMenu
        +main-nav-item(activeItem, menuItem)
    +button('Contact Us')

mixin main-nav-item(activeItem, item)
  -
    const itemClass = 'main-nav__item';

  li(class= itemClass + (activeItem === item.name) ? `${itemClass}--active` : '')
    a.main-nav__link(href=item.url)= item.text
    block
