.testimonials {
  $this: &;
  $image-height: 180px;

  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    z-index: $zindex-negative-infinity;
    top: calc(#{$image-height} - 2.5rem);
    bottom: 0;
    left: 0;
    right: 0;
    
    background: $alternate-bg;
  }

  &__inner {
    @include inner();
  }

  &__images {
    width: 100%;
    margin-bottom: $gutter-gap;
  }
  
  &__content {

    &--quotes {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 3rem;
        z-index: $zindex-negative;
        width: 8.5em;
        height: 7.5em;
        opacity: 0.03;
        background-image: url('../img/quotes.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &__image {
    @include round-borders(20px);
    max-width: 32rem;
    margin: 0 auto;
  }

  &__reviews {
    width: 100%;
  }

  &__title {
    @include title();
  }

  &__name {
    display: block;
    margin-bottom: 1em;
    font-size: 1rem;
  }

  &__text {
    @include text();
  }

  &__controls {
    display: flex;
  }

  &__control {
    flex-grow: 1;
    padding: $gutter-gap 2.5rem;
    border: 0;
    background-color: transparent;
    text-align: left;
    
    &:hover,
    &:focus {
      outline: 0;
    }

    &--prev {
      text-align: right;

      #{$this}__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__arrow {
    width: 2em;
    height: 1em;  
    font-size: 1rem;
  }
}

.no-js {
  .testimonials {
    // &__images,
    &__reviews {
      overflow: auto;
    }

    // &__image-slide,
    &__wrapper {
      &:not(:last-child) {
        margin-right: $gutter;
      }
    }

    &__controls {
      display: none;
    }
  }
}

@media (min-width: $screen-tablet) {
  .testimonials {
    $button-padding: 1.875rem;

    &::after {
      top: calc(320px - 2.5rem);
    }

    &__inner {
      display: flex;
      flex-direction: column;
      padding: 0 4.5rem;
    }

    &__images {
      margin-bottom: 3rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      
      &--quotes {

        &::before {
          width: 10.75rem;
          height: 9.5rem;
          left: -$gutter-big;
          top: 5rem;
        }
      }
    }

    &__title {
      margin-bottom: 3rem;
    }

    &__name {
      font-size: 1.125rem;
      margin-bottom: 1.5rem;
    }

    &__controls {
      align-self: flex-start;
      margin-top: 3rem;
      margin-left: -$button-padding;
    }

    &__control {
      padding: 3rem $button-padding;
    }
  }
}

@media (min-width: $screen-desktop) {
  .testimonials {
    $image-shift: 3.75rem;

    &::after {
      top: 0;
      left: 0;
      right: calc(50vw - #{$inner-width / 2 - $image-shift} + #{$gutter})
    }

    &__inner {
      flex-direction: row-reverse;
      padding: 0 $gutter;
    }

    &__images {
      position: relative;
      bottom: $image-shift;
      align-self: flex-end;
      width: 0;
      flex-grow: 1;
      margin-bottom: 0;
    }

    &__image {
      // height: 100%;
      max-width: 40rem;
    }

    &__content {
      // wtf, breaks the width without that
      width: 0;
      flex-grow: 1;
      padding: 3rem 0;
      padding-right: 3rem;

      &--quotes {
        &::before {
          top: 8rem;
          left: -3.125rem;
        }
      }
    }

    &__text {
      margin-bottom: $gutter;
    }

    &__controls {
      margin-top: $gutter;
    }

    &__control {
      $padding: $gutter-big;

      padding: $padding;
      margin-bottom: -$padding;
    }
  }
}
