.testimonials {
  $this: &;
  $image-height: 180px;

  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    z-index: $zindex-negative-infinity;
    top: calc(#{$image-height} - 2.5rem);
    bottom: 0;
    left: 0;
    right: 0;
    
    background: $alternate-bg;
  }

  &__inner {
    @include inner();
    padding-bottom: $gutter;
  }

  &__images {
    margin-bottom: $gutter-gap;
  }

  &__image {
    @include round-borders(20px);
    max-width: 32rem;
    margin: 0 auto;
  }

  &__wrapper {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: $zindex-negative;
      width: 8.5em;
      height: 7.5em;
      opacity: 0.03;
      background-image: url('../img/quotes.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__title {
    @include title();
  }

  &__name {
    display: block;
    margin-bottom: 1em;
    font-size: 1rem;
  }

  &__text {
    @include text();
  }

  &__controls {
    display: flex;
    margin-top: $gutter;
  }

  &__control {
    flex-grow: 1;
    padding: 1rem 2.5rem;
    border: 0;
    background-color: transparent;
    text-align: left;
    
    &:hover,
    &:focus {
      outline: 0;
    }

    &--prev {
      text-align: right;

      #{$this}__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__arrow {
    width: 2em;
    height: 1em;  
    font-size: 1rem;
  }
}

.no-js {
  .testimonials {
    // &__images,
    &__reviews {
      overflow: auto;
    }

    // &__image-slide,
    &__wrapper {
      &:not(:last-child) {
        margin-right: $gutter;
      }
    }

    &__controls {
      display: none;
    }
  }
}

@media (min-width: $screen-tablet) {
  .testimonials {

    &::after {
      top: calc(320px - 2.5rem);
    }

    &__inner {
      display: flex;
      flex-direction: column;
      padding: 0 4.5rem;
      padding-bottom: 3rem;
    }

    &__image {
      margin-bottom: 3rem;
    }

    &__wrapper {

      &::before {
        width: 10.75rem;
        height: 9.5rem;
        left: -3rem;
      }
    }

    &__title {
      margin-bottom: 3rem;
    }

    &__name {
      font-size: 1.125rem;
      margin-bottom: 1.5rem;
    }

    &__controls {
      --horizontal-padding: 1.875rem;

      align-self: flex-start;
      margin-top: 3rem;
      margin-left: calc(var(--horizontal-padding) * -1);
    }

    &__control {
      padding-left: var(--horizontal-padding);
      padding-right: var(--horizontal-padding);
    }
  }
}
