.button {
  @include round-borders();

  display: inline-block;
  background-color: $link-color;
  border: 1px solid $link-color;
  padding: 12px 20px;
  min-width: 160px;
  
  font-size: 1rem;
  line-height: 1.5;
  color: $white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  transition:
    background-color $transition-time-fast,
    border-color $transition-time-fast,
    color $transition-time-fast;

  &:hover,
  &:focus {
    background-color: $link-color-hover;
    border-color: $link-color-hover;

    color: $white;
    outline: 0;
  }

  &:active,
  &--active {
    // TODO: add :active styles
  }

  &:disabled,
  &--disabled {
    background-color: $link-color-disabled;
    border-color: rgba($gray, $opacity);
    color: rgba($gray, $opacity);
  }

  &--big {
    min-width: 260px;
    font-size: 1.125rem;
    padding: 18px 80px;
  }

  &--full {
    display: block;
    width: 100%;
  }

  &--transparent {
    background-color: transparent;
    color: $black;
  }

  &--arrow {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  &__arrow {
    fill: currentColor;
    margin-left: 0.5em;
    width: 1.5em;
    height: 0.65em;
  }
}
