//- Все примеси в этом файле должны начинаться c имени блока (button)

mixin button(text, mods)

  //- Принимает:
  //-   text    {string} - текст кнопки
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +button('Кнопка-ссылка')(href='/')  - есть href, это точно ссылка
        +button('Кнопка-button', 'success') - нет href — это button

  -
    // список модификаторов
    const modList = mods ? mods.split(' ') : [];
    const allMods = modList.reduce((classname, mod) => classname + `button--${mod}`, '')

    const tag = (attributes.href) ? 'a' : 'button';

  #{tag}.button(class=allMods)&attributes(attributes)!= text
    if (modList.includes('arrow'))
      svg.button__arrow(viewBox="0 0 20 9")
        use(xlink:href="img/sprite.svg#arrow")
