mixin button(text, mods)
  -
    /* mods list: 
      full - 
      transparent - make bgcolor transparent, keeps the border
      disabled - make a button look like a disabled one   

    */
    const element = 'button';
    const modList = mods ? mods.split(' ') : [];
    const allMods = modList.map(mod => `${element}--${mod}`).join(' ');

    const tag = (attributes.href) ? 'a' : 'button';

  #{tag}.button(class=allMods)&attributes(attributes)!= text
    if (modList.includes('arrow'))
      svg.button__arrow(viewBox="0 0 20 9")
        use(xlink:href="img/sprite.svg#arrow")
