mixin hero-slider(slides)

  .hero-slider&attributes(attributes)
    each slide in slides
      +image().hero-slider__image(src= slide.image, role='presentation', alt='')
    .hero-slider__inner
      each slide in slides
        h2.hero-slider__title= slide.title
        p.hero-slider__text= slide.text

        +button('Learn More', 'full').hero-slider__button

      .hero-slider__panel
        .hero-slider__controls
          button.hero-slider__control.hero-slider__control--prev
            +arrow().hero-slider__arrow
          button.hero-slider__control.hero-slider__control--next
            +arrow().hero-slider__arrow
        .hero-slider__progress
          span.hero-slider__progress-item 01
          span.hero-slider__progress-item.hero-slider__progress-item--total= '0' + slides.length
