.hero-slider {
  $this: &;
  
  background-color: $alternate-bg;

  &__slide {
    box-sizing: border-box;
    background-color: $alternate-bg;
    height: auto;
  }

  &__image-wrapper {
    height: 0;
    padding-top: 56.25%;
  }

  &__image {
    @include round-borders(20px, ('bottom-left'));
    display: block;
  }
  
  &__inner {
    @include inner();
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  &__title {
    @include title()

  }

  &__text {
    @include text();
    margin-bottom: 1.5rem;
  }

  &__button {
    margin-top: auto;
  }

  &__panel {
    @include inner();
  }

  &__controls {
    display: flex;
  }

  &__control {
    flex-grow: 1;
    padding: $gutter 2.5rem;
    border: 0;
    background-color: transparent;
    text-align: left;
    
    &:hover,
    &:focus {
      outline: 0;
    }

    &--prev {
      text-align: right;

      #{$this}__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__arrow {
    width: 2em;
    height: 1em;  
    font-size: 1rem;
  }

  &__progress {
    display: none;
  }
}

@media (min-width: $screen-tablet) {
  .hero-slider {
    // content width is around 40rem
    // so paddings are (100% - 50rem) / 2
    $side-width: calc(50vw - 20rem);

    position: relative;

    &__image-slider {
      padding: 0 $side-width;
    }

    &__image {
      @include round-borders(30px, ('bottom-left'));
    }

    &__inner {
      padding-top: 3rem;
      padding-bottom: 2rem;
    }

    &__title {
      margin-bottom: 1.5rem;
    }

    &__text {
      max-width: 65%;
      // margin-bottom: 2.5em;
    }

    &__button {
      $vertical-padding: 1em;

      max-width: 16.25rem;
      font-size: 1.125rem;

      padding-top: $vertical-padding;
      padding-bottom: $vertical-padding;
    }

    &__panel {
      position: absolute;
      z-index: 1;
      right: $side-width;
      bottom: 0;
      display: flex;
      align-content:  center;
      justify-content: space-between;
      min-width: 25rem;
      max-width: 28rem;
      width: 50%;
      padding: 2rem $gutter-small;
      background-color: rgba($white, 0.3);
    }

    &__controls {
      --horizontal-padding: 3rem;
    }

    &__control {
      $secondary-padding: $gutter-big;

      &--prev {
        padding-left: var(--horizontal-padding);
        padding-right: $secondary-padding;
      }

      &--next {
        padding-left: $secondary-padding;
        padding-right: var(--horizontal-padding);
      }
    }

    &__progress { 
      @include font-family("Roboto");

      display: flex;
      color: $color-secondary;

      font-size: 2rem;
      font-weight: bold;
    }

    &__progress-item {


      &--total {
        display: flex;
        position: relative;
        opacity: 0.2;

        &::before {
          content: "";
          align-self: center;
          height: 2px;
          width: 1.6em;
          margin-left: 1rem;
          margin-right: 1.25rem;
          background-color: currentColor;
        }
      }
    }
  }
}


.no-js {
  .hero-slider {
    &__slide {

      &:not(:first-child) {
        display: none;
      }
    }

    &__panel {
      display: none;
    }
  }
}