.card-grid {

  &__list {
    margin: 0;
    margin-bottom: calc(#{$gutter} + 1rem);
    padding: 0;
    list-style: none;
  }

  &__card {
    margin: 0 auto;
    max-width: 80%;

    &:not(:last-child) {
      margin-bottom: $gutter-small;
    }
  }
}
