.inline-slider {
  &__track {
    overflow: auto;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &__item {
    flex-shrink: 0;
    min-width: 14.25rem;

    &:not(:last-child) {
      margin-right: $gutter;
    }
  }
}

@media (min-width: $screen-tablet) {
  .inline-slider {
    padding: 0 $gutter;
  }
}
