.inline-slider {
  &__track {
    overflow: auto;
    display: flex;
  }
  
  &__item {
    flex-shrink: 0;
    min-width: 14.25rem;

    &:not(:last-child) {
      margin-right: $gutter;
    }
  }
}

@media (min-width: $screen-tablet) {
  .inline-slider {
    padding: 0 $gutter;
  }
}
