mixin inline-slider(slides)
  .inline-slider.js-inline-slider.swiper-container&attributes(attributes)
    ul.inline-slider__track.swiper-wrapper
      each slide in slides
        li.inline-slider__item.swiper-slide
          +card(slide).inline-slider__card