.breadcrumbs {
  $block-name:                &; // #{$block-name}__element
  
  display: none;
  margin-bottom: $gutter-gap;

  &__inner {
    @include inner();
  }

  &__list {
    @include list();
    display: flex;
    align-items: center;
  }

  &__item {
    font-size: 1rem;
    line-height: 1.125;

    &:not(:last-child) {
      #{$block-name}__caption {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 100%;
          background-color: $text-color-third;
        }
      }
    }
  }

  &__link {
    $padding-offset: $gutter;

    display: flex;
    align-items: center;
    color: $text-color;
    text-decoration: none;
    padding: $padding-offset 0;
    margin: -$padding-offset 0;

    &:hover,
    &:focus {
      outline: 0;
    }
  }

  &__caption {
    padding: 0 0.75rem;
  }
}

@media (min-width: $screen-tablet) {
  .breadcrumbs {
    display: block;
  }
}
