mixin breadcrumbs()
  -
    const pagesWithoutBreadcrumbs = ['index'];

  if (!pagesWithoutBreadcrumbs.includes(page))  
    nav.breadcrumbs(class=allMods)&attributes(attributes)
      .breadcrumbs__inner  
        ul.breadcrumbs__list
          +breadcrumbsItem(page)

mixin breadcrumbsItem(itemName)
  - const item = pages[itemName];

  if (item.parent)
    +breadcrumbsItem(item.parent)
  
  li.breadcrumbs__item
    - const itemHref = page === itemName ? false : item.url;
    a.breadcrumbs__link(href= itemHref)
      if (item.icon)
        svg.breadcrubs__icon(width="18" height="18")
          use(xlink:href=`img/sprite.svg#${item.icon}`)
      
      span.breadcrumbs__caption= item.text || title


