.contact {
  $block-name:                &; // #{$block-name}__element

  &__title {
    @include title();
    text-align: center;
  }

  &__description {
    @include text();
    text-align: center;
  }

  &__field {
    margin-bottom: 0.75rem;
  }

  &__submit {
    margin-top: calc(#{$gutter} + 1rem);
  }
}
