.contact {
  $block-name:                &; // #{$block-name}__element

  &__title {
    @include title();
    margin-bottom: 1rem;
    text-align: center;
    color: $text-color;
  }

  &__description {
    @include font-family("Roboto");
    @include text();
    text-align: center;
    color: $text-color-second;
  }

  &__field {
    margin-bottom: 0.75rem;
  }

  &__submit {
    margin-top: calc(#{$gutter} + 1rem);
  }
}
