mixin contact()
  .contact&attributes(attributes)
    h2.contact__title
      block title
        | Contact us
    p.contact__description
      block description
        | Reach out to us and we would love to offer you a FREE consultation on your project! We will be in touch within 12 hours!
    form.contact__form
      +input('contact__field')(placeholder="Name",name="name")
      +input('contact__field')(placeholder="Phone",name="phone", type="tel")
      +input('contact__field')(placeholder="Email",name="email", type="email")
      +input('contact__field')(placeholder="Your message",name="message")
      
      +button('Send', 'full').contact__submit
