.hmd-header {

  $block-name:                &; // #{$block-name}__element

  --block-padding: 0.625rem;

  background-color: $alternate-bg;
  position: relative;

  &__inner {
    @include inner();
    display: flex;
    align-items: center;
    padding-top: var(--block-padding);
    padding-bottom: var(--block-padding);
  }

  &__menu {
    margin-left: auto;
  }
}

@media (min-width: $screen-tablet) {
  .hmd-header {
    --block-padding: #{$gutter};

  }
}
