.hmd-header {
  $this: &;

  --block-padding: 0.625rem;

  background-color: $alternate-bg;
  position: relative;


  &--footer {
    @media (max-width: $screen-tablet - 1) {
      #{$this}__logo {
        margin: 0 auto;
      }

      #{$this}__menu {
        display: none;
      }
    }
  }

  &__inner {
    @include inner();
    display: flex;
    align-items: center;
    padding-top: var(--block-padding);
    padding-bottom: var(--block-padding);
  }

  &__menu {
    margin-left: auto;
  }
}

@media (min-width: $screen-tablet) {
  .hmd-header {
    --block-padding: #{$gutter};

  }
}
