.hero {
  $image-height: 180px;

  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: calc(#{$image-height} - 5rem);
    bottom: 0;
    left: 0;
    right: 0;
    
    background: $alternate-bg;
  }

  &__inner {
    @include inner();
  }

  &__image {
    @include round-borders(20px);
    display: block;
    width: 100%;
    max-width: 32rem;
    margin: 0 auto;
    margin-bottom: $gutter-gap;
  }

  &__wrapper {
    padding-bottom: $gutter-gap;
  }
}

@media (min-width: $screen-tablet) {
  .hero {
    
    &__inner {
      padding: 0 4.5rem;
    }

    &__image {
      margin-bottom: 3rem;
    }

    &__wrapper {
      padding-bottom: 3rem;
    }
  }
}

@media (min-width: $screen-desktop) {
  .hero {
    $image-shift: 3.75rem;
    
    &::after {
      top: 0;
      right: 0;
      left: calc(50vw - #{$inner-width / 2 - $image-shift} + #{$gutter});
    }
    
    &__inner {
      display: flex;
      padding: 0;
    }

    &__image {
      align-self: center;
      position: relative;
      // top: $image-shift;
      max-width: 40rem;
      margin-bottom: 0;
      margin-right: 5rem;
    }

    &__wrapper {
      padding: 7rem 0;
    }
  }
}
