-
  const pages = {
    services: {
      "text": "Services",
      "url": "/services.html",
    },
    about: {
      "text": "About Us",
      "url": "/about.html",
    },
    portfolio: {
      "text": "Our portfolio",
      "url": "/portfolio.html",
    },
  }
