-
  const pages = {
    services: {
      "text": "Services",
      "url": "/services.html",
      "inMenu": true,
    },
    about: {
      "text": "About Us",
      "url": "/about.html",
      "inMenu": true,
    },
    portfolio: {
      "text": "Our portfolio",
      "url": "/portfolio.html",
      "inMenu": true,
    },
    project: {
      "text": "Project 1",
      "url": "/project.html",
    }
  }
