mixin card(card)
  .card(style=`background-image: url(img/${card.image})`)&attributes(attributes)
    .card__wrapper
      h3.card__caption
        if card.link
          a.card__link(href= card.link)= card.caption
        else
          = card.caption

