.card {
  $block-name:                &; // #{$block-name}__element

  @include round-borders(20px);

  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 290px;
  margin: 0 auto;
  padding: $gutter-big;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: rgba($black, 0.2);
  color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // background-image: linear-gradient(rgba($black, 0.8), transparent);
    background: linear-gradient(to top, rgba($black, 0.8) 0%, transparent 35%);

  }

  &__caption {
    position: relative;
    z-index: $zindex-lowest;  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.4;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    color: inherit;
  }
}
