.card {
  $block-name:                &; // #{$block-name}__element

  @include round-borders(20px);

  overflow: hidden;
  position: relative;
  min-height: 16rem;
  min-width: 14.25rem;
  max-width: 20rem;
  margin: 0 auto;
  padding-top: 125%;
  height: 0;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: rgba($black, 0.2);
  color: $white;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // background-image: linear-gradient(rgba($black, 0.8), transparent);
    background: linear-gradient(to top, rgba($black, 0.8) 0%, transparent 35%);
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
  }

  &__caption {
    position: relative;
    z-index: $zindex-lowest;  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.4;
  }

  &__link {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: $gutter-big;
    color: inherit;
  }
}

@media (min-width: $screen-tablet) {
  .card {
    max-width: 30rem;
  }
}
