mixin tabs(items)
  .tabs
    ul.tabs__list
      each item in items 
        - tabs[0].isActive = tabs.every(tab => !tab.isActive) ? true : tabs[0].isActive;
        li.tabs__item(class=item.isActive ? 'tabs__item--active' : '')= item.caption
