extends ../pug/layout.pug

block vars
  - let page = 'about'

block meta
  title About Us
  meta(name='description', content='')

block content
  +about().page__element.page__element--spacer
    h1.page__title About Us
    p.page__text
      | Far curiosity incommode now led smallness allowance. Favour bed assure son things yet.
      | She consisted consulted elsewhere happiness disposing household any old the.
      | Widow downs you new shade drift hopes small. So otherwise commanded sweetness we improving.
      | Instantly by daughters resembled unwilling principle so middleton.
      | Fail most room even gone her end like. Comparison dissimilar unpleasant six compliment two unpleasing any add. 
      | Ashamed my company thought wishing colonel it prevent he in. Pretended residence are something far engrossed old off. 

  .page__inner
    h2.page__title Our Philosophy