extends ../pug/layout.pug

block vars
  - let page = 'about'

block meta
  title About Us
  meta(name='description', content='')

block content
  +textblock('About Us', 'img/about.jpg', 'background reverse')
    p.textblock__text
      | Far curiosity incommode now led smallness allowance. Favour bed assure son things yet.
      | She consisted consulted elsewhere happiness disposing household any old the. Widow downs you new shade drift hopes small.
      | So otherwise commanded sweetness we improving. Instantly by daughters resembled unwilling principle so middleton.
      | Fail most room even gone her end like. Comparison dissimilar unpleasant six compliment two unpleasing any add.
      | Ashamed my company thought wishing colonel it prevent he in. Pretended residence are something far engrossed old off. 
  +textblock('Our Philosophy')
    p.textblock__text
      | Far curiosity incommode now led smallness allowance. Favour bed assure son things yet.
      | She consisted consulted elsewhere happiness disposing household any old the. Widow downs you new shade drift hopes small.
      | So otherwise commanded sweetness we improving. Instantly by daughters resembled unwilling principle so middleton.
      | Fail most room even gone her end like. Comparison dissimilar unpleasant six compliment two unpleasing any add.
      | Ashamed my company thought wishing colonel it prevent he in. Pretended residence are something far engrossed old off. 
    p.textblock__text.textblock__text--accent
      | Turned it up should no valley cousin he. Speaking numerous ask did horrible packages set. Ashamed herself has distant can studied mrs. 
    p.textblock__text.textblock__text--light 
      | Led therefore its middleton perpetual fulfilled provision frankness.
      | Small he drawn after among every three no. All having but you edward genius though remark one.
  +list([
    {
      title: 'Advantage',
      text: 'Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She consisted consulted elsewhere happiness disposing household any old the.'
    },
    {
      title: 'Advantage',
      text: 'Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She consisted consulted elsewhere happiness disposing household any old the.'
    },
    {
      title: 'Advantage,',
      text: 'Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She consisted consulted elsewhere happiness disposing household any old the.'
    },
  ])
  +reviews([
    {
      image: 'https://picsum.photos/id/987/320/180',
      name: 'John & Martha Greenwald',
      text: 'We will not hesitate to call on you in the future. We were very pleased with your pricing, scheduling, and workmanship. You were most cooperative making adjustments or corrections when needed. We appreciated your flexibility and attention.'
    },
    {
      image: 'https://picsum.photos/id/604/320/180',
      name: 'John John',
      text: 'We will not hesitate to call on you in the future. We were very pleased with your pricing, scheduling, and workmanship. You were most cooperative making adjustments or corrections when needed. We appreciated your flexibility and attention.'
    },
    {
      image: 'https://picsum.photos/id/837/320/180',
      name: 'Mrs. Claus',
      text: 'We will not hesitate to call on you in the future. We were very pleased with your pricing, scheduling, and workmanship. You were most cooperative making adjustments or corrections when needed. We appreciated your flexibility and attention.'
    },
  ])
