extends ../pug/layout.pug

block meta
  title HMD
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  -
    const heroTitles = ['Residential remodeling'];
    const heroImages = ['hero.jpg'];
    const heroText = 'The kitchen is the heart of every home and New Outlooks is here to design and build your dream kitchen. Whether it\'s a cabinet refresh or a complete kitchen redesign, New Outlooks will take your kitchen from drab to fab.';
    const heroSlides = heroTitles.map((title, index) => ({
      title,
      image: `img/${heroImages[index % heroImages.length]}`,
      text: heroText,
    }))

  +hero(heroSlides).page__element.page__element--spacer

  .page__inner.page__element
    h1.page__title.page__title--center HMD Construction Group
    p.page__text.page__text--center.page__element.page__element--gap
      | Established in 1984, New Outlooks Construction Group has earned a reputation as one of Central Jersey's Premier.
      | Design / Build / Remodeling Firms over the past 30 years.

    -
      const serviceTitles = ['Kitchen Remodeling', 'Basement Remodelling', 'Bathroom Remodelling',
                        'Addition & Renovation', 'Handyman Remodelling', 'Commercial Remodelling']
      const serviceImages = ['service1.jpg', 'service2.jpg', 'service3.jpg'];
      const totalImages = serviceImages.length;
      const services = serviceTitles.map((title, index) => ({
        title,
        image: `img/${serviceImages[index % totalImages]}`,
        text: 'lorem ipsum',      
      }));

    +grid(services, 'service').page__element.page__element--spacer

  +inline-portfolio('Check our Projects', true).page__element.page__element--spacer

  -
    const testimonialsClient = ['John & Martha Greenwald', 'John John', 'Mrs. Claus'];
    const testimonialsImages = ['img/testimonials1.jpg', 'https://picsum.photos/id/604/320/180', 'https://picsum.photos/id/837/320/180'];
    const testimonialsText = 'We will not hesitate to call on you in the future. We were very pleased with your pricing, scheduling, and workmanship. You were most cooperative making adjustments or corrections when needed. We appreciated your flexibility and attention.';
    const testimonials = testimonialsClient.map((name, index) => ({
      name,
      image: `${testimonialsImages[index % testimonialsImages.length]}`,
      text: testimonialsText,
    }));

  +testimonials(testimonials).page__element.page__element--spacer

  .page__inner
    +contact().page__element


//- block append page-bottom
//-   script(src='js/some.js')
