extends ../pug/layout.pug

block meta
  title HMD
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  -
    const heroTitles = ['Residential remodeling'];
    const heroImages = ['hero.jpg'];
    const heroText = 'The kitchen is the heart of every home and New Outlooks is here to design and build your dream kitchen. Whether it\'s a cabinet refresh or a complete kitchen redesign, New Outlooks will take your kitchen from drab to fab.';
    const heroSlides = heroTitles.map((title, index) => ({
      title,
      image: `img/${heroImages[index % heroImages.length]}`,
      text: heroText,
    }))

  +hero(heroSlides)

//- block append page-bottom
//-   script(src='js/some.js')
