extends ../pug/layout.pug

block meta
  title HMD
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  -
    const heroTitles = ['Residential remodeling', 'Commertial remodeling', 'Handy man'];
    const heroImages = ['hero.jpg', 'about.jpg'];
    const heroTexts = [
        'The kitchen is the heart of every home and New Outlooks is here to design and build your dream kitchen. Whether it\'s a cabinet refresh or a complete kitchen redesign, New Outlooks will take your kitchen from drab to fab.',
        'There are many ways to remodel your basement -- turn it into a playroom for the kids, a home movie theater, a man cave, a game room -- the possibilities are endless.',
        'Turn your bathroom into an oasis with a New Outlooks bathroom remodel. We\'ll work with you to find the perfect tile, fixtures, lighting -- everything necessary to create the perfect space where you begin and end your day.',
        'Have you run out of storage space? Has your family outgrown your home? Adding space to your home is always a good investment. New Outlooks can create the perfect addition to your home, customized just for your family\'s needs.',
        'Let the New Outlooks Handyman team tackle those small but important jobs. We\'ll redo your front steps, install a new door, paint a room -- no job is too big or small.',
        'Let us help your business optimize your space and look great! Our team has had extensive remodeling experience in healthcare, office, and retail settings, so you know you\'re in good hands.',
      ]
    const heroSlides = heroTitles.map((title, index) => ({
      title,
      image: `img/${heroImages[index % heroImages.length]}`,
      text: heroTexts[index % heroTexts.length],
    }))

  +hero-slider(heroSlides).page__element.page__element--spacer

  .page__inner.page__element
    .content.page__element.page__element--gap
      h1.is-center HMD Construction Group
      p.is-center
        | Established in 1984, New Outlooks Construction Group has earned a reputation as one of Central Jersey's Premier.
        | Design / Build / Remodeling Firms over the past 30 years.

    -
      const serviceTitles = ['Kitchen Remodeling', 'Basement Remodelling', 'Bathroom Remodelling',
                        'Addition & Renovation', 'Handyman Remodelling', 'Commercial Remodelling']
      const serviceImages = ['service1.jpg', 'service2.jpg', 'service3.jpg'];
      const totalImages = serviceImages.length;
      const serviceText = [
        'The kitchen is the heart of every home and New Outlooks is here to design and build your dream kitchen. Whether it\'s a cabinet refresh or a complete kitchen redesign, New Outlooks will take your kitchen from drab to fab.',
        'There are many ways to remodel your basement -- turn it into a playroom for the kids, a home movie theater, a man cave, a game room -- the possibilities are endless.',
        'Turn your bathroom into an oasis with a New Outlooks bathroom remodel. We\'ll work with you to find the perfect tile, fixtures, lighting -- everything necessary to create the perfect space where you begin and end your day.',
        'Have you run out of storage space? Has your family outgrown your home? Adding space to your home is always a good investment. New Outlooks can create the perfect addition to your home, customized just for your family\'s needs.',
        'Let the New Outlooks Handyman team tackle those small but important jobs. We\'ll redo your front steps, install a new door, paint a room -- no job is too big or small.',
        'Let us help your business optimize your space and look great! Our team has had extensive remodeling experience in healthcare, office, and retail settings, so you know you\'re in good hands.',
      ]
      const services = serviceTitles.map((title, index) => ({
        title,
        image: `img/${serviceImages[index % totalImages]}`,
        text: serviceText[index % serviceText.length],
        link: '/service.html',
      }));

    +grid(services, 'service').page__element.page__element--spacer

  +inline-portfolio('Check our Projects', true).page__element.page__element--spacer

  -
    const testimonialsClient = ['John & Martha Greenwald', 'John John', 'Mrs. Claus'];
    const testimonialsImages = ['img/testimonials1.jpg', 'https://picsum.photos/id/604/280/180', 'https://picsum.photos/id/837/280/180'];
    const testimonialsTexts = [
      'We will not hesitate to call on you in the future. We were very pleased with your pricing, scheduling, and workmanship. You were most cooperative making adjustments or corrections when needed. We appreciated your flexibility and attention.',
      'We will not hesitate to call on you in the future.',
      'You were most cooperative making adjustments or corrections when needed. We appreciated your flexibility and attention.',
    ];
    const testimonials = testimonialsClient.map((name, index) => ({
      name,
      image: `${testimonialsImages[index % testimonialsImages.length]}`,
      text: testimonialsTexts[index % testimonialsTexts.length],
    }));

  +testimonials(testimonials).page__element.page__element--spacer

  .page__inner
    +contact().page__element


//- block append page-bottom
//-   script(src='js/some.js')
