extends ../pug/layout.pug

block meta
  title HMD
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  h1 Title

//- block append page-bottom
//-   script(src='js/some.js')
