extends ../pug/layout.pug

block vars
  - page = 'services'

block meta
  title Services
  meta(name='description', content='')

block content
  .page__inner
    h1.page__title HMD Construction Group
    p.page__text.page__element
      | Established in 1984, New Outlooks Construction Group has earned a reputation as one of Central Jersey's Premier.
      | Design / Build / Remodeling Firms over the past 30 years.

    -
      const serviceTitles = ['Kitchen Remodeling', 'Basement Remodelling', 'Bathroom Remodelling',
                        'Addition & Renovation', 'Handyman Remodelling', 'Commercial Remodelling']
      const serviceImages = ['service1.jpg', 'service2.jpg', 'service3.jpg'];
      const totalImages = serviceImages.length;
      const services = serviceTitles.map((title, index) => ({
        title,
        image: `img/${serviceImages[index % totalImages]}`,
        text: 'lorem ipsum',      
      }));

    +grid(services, 'service').page__element.page__element--spacer
    
    -
      const advantageCount = 3;
      const advantageTitle = 'Advantage'
      const advantageText = `
        Far curiosity incommode now led smallness allowance. Favour bed assure son things yet.
        She consisted consulted elsewhere happiness disposing household any old the.
      `;
      const advantages = new Array(advantageCount).fill({
        title: advantageTitle,
        text: advantageText,
      });

    +advantages(advantages).page__element