// В этом файле должны быть стили для БЭМ-блока call, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.call {

  $block-name:                &; // #{$block-name}__element
  
  $phone-color: $black;
  $icon-color: $color-primary;

  $ringing_duration: 0.3s;
  $ringing_repeat: 3;
  $ringing_angle: 15deg;

  display: inline-flex;
  align-items: center;
  padding: 1em 1.25em;
  text-decoration: none;

  color: $phone-color;

  &:hover,
  &:focus {
    outline: 0;
    
    #{$block-name}__icon {
      animation: phone_ringing $ringing_repeat $ringing_duration;
    }
  }

  &__number {
    display: inline-block;
    margin-left: 10px;
  }
  
  &__icon {
    fill: $icon-color;
  }

  @keyframes phone_ringing {
    from {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-$ringing_angle);
    }
  
    75% {
      transform: rotate($ringing_angle);
    }
  
    to {
      transform: rotate(0deg);
    }
  }
}

