// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  &:hover,
  &:focus {
    outline: 0;

    #{$block-name}__image {
      background-color: lighten($logo-bg-color, 15);
    }
  }

  &__image {
    display: block;
    border-radius: 50%;
    background-color: $logo-bg-color;
    fill: $sand;
    
    transition: background-color 0.3s;
  }
}
