.logo {

  $block-name:                &; // #{$block-name}__element

  &:hover,
  &:focus {
    outline: 0;

    #{$block-name}__image {
      background-color: lighten($logo-bg-color, 15);
    }
  }

  &__image {
    display: block;
    border-radius: 50%;
    background-color: $logo-bg-color;
    fill: $sand;
    
    transition: background-color 0.3s;
  }
}

@media (min-width: $screen-tablet) {
  .logo {

    &__image {
      width: 95px;
      height: 50px;
    }
  }
}
