.page-footer {
  background-color: $alternate-bg;
  $vertical-padding: 0.625rem;

  &__inner {
    @include inner();
    display: flex;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
  }

  &__logo {
    margin: 0 auto;
  }
}
