.grid {
  $this: &;

  &--narrow {

    #{$this}__list {
      max-width: 80%;
    }
  }

  &__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: $gutter-small;
    }
  }

  &__more {
    margin-top: calc(#{$gutter} + 1rem);
  }
}
