.grid {
  $this: &;

  &--narrow {

    #{$this}__list {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  &__list {
    @include list();
  }

  &__item {
    margin-bottom: $gutter-small;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__more {
    margin-top: $gutter-gap;
  }
}

@media (min-width: $screen-tablet) {
  .grid {

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-gap: $gutter;
    }

    &__item {
      margin-bottom: 0;
    }
  }
}
