.grid {
  $this: &;

  &--narrow {
    max-width: 80%;
    margin: 0 auto;
  }

  &__list {
    @include list();
  }

  &__item {
    margin-bottom: $gutter-small;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__more {
    margin-top: $gutter-gap;
  }
}

@media (min-width: $screen-tablet) {
  .grid {
    --columns: 3;

    &--narrow {
      max-width: none;
    }

    &--tablet-wide {
      --columns: 2;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-gap: $gutter;
      justify-content: center;
    }

    &__item {
      margin-bottom: 0;
    }

    &__more {
      margin: 0 auto;
      margin-top: 3rem;
    }
  }
}

@media (min-width: $screen-desktop) {
  .grid {

    &--tablet-wide {
      --columns: 3;
    }
  }
}