.service {
  $this: &;
  $bgcolor: rgba($color-primary, 0.8);

  @include round-borders(20px);

  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: $bgcolor;
  color: $white;

  &__link {
    display: flex;
    flex-direction: column;
    min-height: 8.75rem;
    padding: $gutter-big $gutter;
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
      
      #{$this}__arrow {
        transform: scaleX(1.5);
      }
    }
  }

  &__back {
    @include stretch();

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
      content: "";
      @include stretch();
      background-color: $bgcolor;
    }
  }

  &__title {
    @include subtitle();
    position: relative;

    @media (max-width: $screen-tablet) {
      color: inherit;
    }
  }

  &__text {
    @include text();
    display: none;
    position: relative;
  }

  &__arrow {
    position: relative;
    display: block;
    margin-top: auto;
    color: inherit;
    transform-origin: left;
    transition: transform $transition-time-fast;

    font-size: 1rem;
    width: 2em;
    height: 1em;
  }
}

@media (min-width: $screen-tablet) {
  .service {
    $this: &;

    overflow: hidden;
    background-color: $alternate-bg;
    color: $light-black;

    &__link {
      height: 100%;
      min-height: 24.375rem;
      transition: color $transition-time-fast;

      &:hover,
      &:focus {
        outline: 0;
        color: $white;
        
        #{$this}__back {
          transform: none;
        }

        #{$this}__title {
          color: inherit;

          &::after {
            background-color: currentColor;
          }
        }

        #{$this}__text,
        #{$this}__arrow {
          color: inherit;
        }
      }
    }

    &__back {
      transition: transform $transition-time-fast;
      transform: translateY(-101%);
    }

    &__title {
      @include underline(2.5em, $color-primary, false);
      padding-bottom: 0.7em;
    }

    &__text {
      display: block;
    }

    &__arrow {
      color: $black;
    }
  }
}
