mixin service(service)
  .service
    a.service__link(href= service.link)
      .service__back(style=`background-image: url(${service.image})` role='presentation')
      h2.service__title= service.title
      if service.text
        .service__text
          p= service.text
      +arrow().service__arrow
    