.service {

  @include round-borders(20px);

  position: relative;
  overflow: hidden;
  padding: $gutter-big $gutter;
  background-color: $alternate-bg;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-primary, 0.8);
  }

  &__title {
    @include subtitle();
    position: relative;
    margin-bottom: calc(#{$gutter} + 1rem);
    color: inherit;
  }

  &__text {
    display: none;
  }

  &__arrow {
    position: relative;
    fill: currentColor;
    font-size: 1rem;
    width: 2em;
    height: 1em;
  }
}
