.inline-portfolio {

  &__inner {
    @include inner();
  }

  &__title {
    @include title();
    margin-bottom: 1rem;

    &--gap {
      margin-bottom: $gutter-gap;
    }
  }

  &__link {
    margin-bottom: $gutter-gap;
  }
}