//- Все примеси в этом файле должны начинаться c имени блока (textblock)

mixin textblock(imageSource, mods)

  //- Принимает:
  //-   imageSource {string} - путь к картинке, если не указан, текст
  //- Модификаторы:
  //-   reverse - поменять местами изображение и текст
  //-   top-shift - сдвинуть изображение вверх, а не вниз

  -
    // список модификаторов
    const modList = mods ? mods.split(' ') : [];
    if (imageSource) modList.push('with-image');
    const allMods = modList.reduce((classname, mod) => classname + `textblock--${mod} `, '')

  section.textblock(class=allMods)&attributes(attributes)
    .textblock__inner
      .textblock__wrapper
        h1.textblock__title
          block title
        p.textblock__text
          block text
      if imageSource
        .textblock__image-wrapper
          img.textblock__image(src=imageSource alt="" role="presentation")