.list {
  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include inner();
  }

  &__list {
    @include round-borders($border-radius-mobile);
    margin: 0;
    padding: #{$gutter * 1.5} $gutter;
    list-style: none;
    background-color: $white;
  }

  &__item {
    &:not(:last-child) {
      #{$block-name}__text {
        margin-bottom: 2rem;
      }
    }
  }

  &__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 1.2em;
    padding-bottom: 1rem;

    font-size: 1.25rem;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      margin: 0 auto;
      width: 3.75rem;
      height: 0.25rem;
      background-color: $color-primary;
    }
  }

  &__text {
    margin: 0;
    font-size: 0.875em;
  }
}
