@mixin inner() {
  max-width: $inner-width;
  margin: 0 auto;
  padding: 0 $gutter;
}

@mixin hide-visually {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
