@mixin inner() {
  max-width: $inner-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 $gutter;
}

@mixin round-borders($radius: $border-radius) {
  border-top-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin hide-visually {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
