// Базовые цвета https://colorscheme.ru/color-converter.html

$green:                       #679436;
$green-light:                 #78b437;
$green-dark:                  #174430;
$blue:                        #05668d;
$sand:                        #d4c988;
$black:                       #000000;
$gray-dark:                   #333333;
$gray:                        #777777;
$gray-light:                  #cfcfcf;
$gray-lightest:               #f9f9f9;
$white:                       #ffffff;

$color-primary:               $green;
$color-secondary:             $blue;
$color-accent:                $green-light;

// Семантические цвета

$text-color:                  $gray-dark;
$text-color-second:           $gray;
$text-color-light:            $gray-light;
$text-color-accent:                 $green;
$body-bg:                     $gray-lightest;

$logo-bg-color:               $green-dark;
$link-color:                  $color-primary;
$link-color-hover:            $color-accent;
$link-color-disabled:         $gray-light;

// Базовая типографика

$font-size:                   16px;

$fz-title:                    3rem;
$fz-subtitle:                 1.75rem;
$fz-caption:                  1.125rem;
$fz-text:                     1rem;

$font-size-sm:                0.75em; // 12px от 16px

$line-height:                 1.5;

$typo-margin-vertical:        1em;

$font-family:                 "Lora", "Times New Roman", serif;
$font-family--monospace:     SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
// Georgia, Times New Roman, Times, serif



// Ширины

$gutter: 20px;

$screen-mobile:               320px;
$screen-tablet:               768px;
$screen-desktop:              1200px;

$inner-width: $screen-desktop;

// Разное

$border-radius-mobile:        20px;
$border-radius:               10px;
$opacity:                     0.7;
$transition-time-fast:        0.3s;
$transition-time-slow:        0.5s;

$zindex-lowest: 1;
$zindex-low: 3;
$zindex-medium: 5;
$zindex-high: 7;
$zindex-highest: 10;
