.content {
  max-width: 53.75rem;
  margin: 0 auto;

  h1,
  h2 {
    @include title();
  }

  h3 {
    @include subtitle();
  }

  p {
    @include text();

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    @include list();

    li {
      position: relative;
      padding-left: $gutter;
      
      &:not(:last-child) {
        margin-bottom: $gutter-small;
      }
  
      &::before {
        content:  "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        
        margin: auto 0;
        width: 0.4em;
        height: 0.4em;
        border-radius: 50%;
        background-color: $color-primary;
      }
    }
  }

  // custom elements

  &__inline-list {
    margin-bottom: 1.5rem;
    font-size:  0.875rem;
    line-height: 1.3;
  }

  &__list-item {
    display: inline-flex;
    color: inherit;

    &:not(:last-child) {
      &::after {
        content: "";
        display: inline-block;
        width: 1px;
        background-color: currentColor;
        margin: 0 $gutter;
      }
    }
  }

  // modifiers: color, align, etc

  .is-accent {
    color: $color-primary;
  }

  .is-light {
    color: $text-color-third;
  }

  .is-center {
    text-align: center;
  }

  .is-gap {
    margin-bottom: $gutter-gap;
  }
}

@media (min-width: $screen-desktop) {
  .content {

    &--align-left {
      margin-left: 0;
      margin-right: auto;
      text-align: left;;
    }
  }
}